<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Animal</string>
		<string>Does your animal have horns?</string>
		<string>Does your animal have fur?</string>
		<string>Does your animal enjoy being in Water?</string>
		<string>Does your animal have scales?</string>
		<string>Does your animal have feathers?</string>
		<string>Does your animal lay eggs?</string>
		<string>Can your animal fly?</string>
		<string>Is your animal a Omnivore?</string>
		<string>Is your animal a Carnivore?</string>
		<string>Is your animal quadrupedal?</string>
		<string>Does your animal have less than 3 toes?</string>
		<string>Does your animal like to stay in heards or large groups?</string>
		<string>Does your animal live in the forest?</string>
		<string>Does your animal live in a tree?</string>
		<string>Is your animal nocturnal?</string>
		<string>Is your animal smaller than a cat?</string>
		<string>Does your animal produce milk?</string>
	</array>
	<array>
		<string>Polar Bear</string>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
		<true/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<false/>
		<true/>
	</array>
	<array>
		<string>Human</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Mosquito</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Platypus</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Cardinal</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Alligator</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Goat</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Whale</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Flying Squirrel</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Fox</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Frog</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Giraffe</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Seal</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Butterfly</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Coyote</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Porcupine</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Salmon</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Flying Fish</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Falcon</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Elephant</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Shark</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Lizard</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Salamander</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Blobfish</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Kangaroo</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Koala</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Ostrich</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Squirrel</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Grasshopper </string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Fly</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Starfish</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Swan</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Turtle</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Spider</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Monkey</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Turkey</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Snake</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Owl</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Sloth</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Penguin</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Puffer Fish</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Mouse</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Ant</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Lion</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Bull</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Cow</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Chicken</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
	</array>
	<array>
		<string>Pig</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Cat</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
	<array>
		<string>Dog</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>TRUE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>FALSE</string>
		<string>TRUE</string>
	</array>
</array>
</plist>
